---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PriceComponent from '../components/PriceComponent.astro';
import '../styles/global.css';
---

<Layout title='Priser' description='Se våre priser og betalingsplaner'>
    <main class="min-h-screen bg-background">
        <Header page="prices" />
        <PriceComponent />
    </main>
</Layout>