---
---

<a href="#hero" class="fixed bottom-5 right-20 self-center text-foreground/60 hover:text-foreground bg-background/80 backdrop-blur-md shadow-sm rounded-full px-6 py-2 border border-border transition-colors">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
    </svg>
</a>